/* GENERALE */
* {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
/* \GENERALE */



/* HEADER */
header {
  background-color: #ff6900;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header > div {
  display: flex;
  align-items: center;
}

header > div:first-child {
  flex: 1;
  gap: 0.4em;
  font-weight: bold;
  justify-content: flex-start;
}

header > div.logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 4.5em;
}

header > div:last-child {
  flex: 1;
  gap: 0.4em;
  flex-direction: row-reverse;
}

header a {
  color: white;
  font-size: 0.7em;
  text-decoration: none;
}
/* \HEADER */


/* MAIN */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 7% 10%;
}


/* CARD */
.card {
  position: relative;
  width: 31.5%;
  margin-bottom: 3.5%;
}

/* PRODOTTO */
.card > img {
  width: 100%;
}

.card > img:first-of-type {
  z-index: 0;
  position: absolute;
}

.card > img:last-of-type {
  z-index: -1;
}

.card > img:first-of-type:hover {
  opacity: 0;
}
/* \PRODOTTO */

/* PREFERITO */
.preferito {
  background-color: white;
  padding: 0.2em 0.3em;
  position: absolute;
  right: 0;
  top: 0.3em;
  cursor: pointer;
}

.preferito.pieno {
  color: red;
  opacity: 0;
}

.preferito.pieno:hover {
  opacity: 100;
}
/* \PREFERITO */

/* TAGS */
.tags {
  display: flex;
  position: absolute;
  gap: 3%;
  color: white;
  bottom: 15%;
}

.sconto.percent, .sostenibile {
  font-size: 0.8vw;
  padding: 0.3vw 0.5vw;
}

.sconto.percent {
  background-color: red;
}

.sostenibile {
  background-color: green;
}
/* \TAGS */

/* DETTAGLI */
.marca {
  font-size: 0.9vw;
  color: gray;
}

.nome {
  font-size: 1vw;
  text-transform: uppercase;
}

.prezzo {
  font-size: 0.8vw;
}

.prezzo :not(s) {
  color: red;
}
/* \DETTAGLI */

/* \CARD */

/* \MAIN */