* {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}



header {
  background-color: #ff6900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  padding: 0 15%;
}

header div {
  display: flex;
  align-items: center;
  height: 100%
}

header a {
  color: white;
  font-size: 0.7em;
}

header div:not(.logo) {
  font-weight: bold;
  width: 35%;
  gap: 0.4em;
}

header div:last-child {
  flex-direction: row-reverse;
}

.logo > img {
  width: 4.5em;
}